@media screen and (max-width: 600px) {
    .text > h1{
        font-size: 2em;
    }
    .text > p{
        width: 90%;
    }
    section.sobre{
        margin-left: -120px;
    }
    .foto{
        display: none;
    } 
    .container-hab{
        margin-left: 70px;
    }
    .slider{
        margin: 0 auto;
        width: 390px;
        height: 200px;
        overflow: hidden;
    }
    .slides{
        width: 400%;
        height: 400px;
        display: flex;
    }
    .slide{
        width: 25%;
        position: relative;
        transition: 2s;
    }
    .slide img{
        width: 400px;
    }
    .calc{
        height: 200px;
    }
    .navigation-auto{
        position: absolute;
        width: 390px;
        margin-top: 220px;
        display: flex;
    }
    .manual-navigation{
        position: absolute;
        width: 390px;
        margin-top: -170px;
        display: flex;
    }
    footer{
        margin-top: 100px;
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}