@charset "UFT-8";

*{
    padding: 0px;
    margin: 0px;
    max-height: 100vh;
}
html, body{
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background-color: rgb(34, 34, 34);
}
header{
    background-color: rgb(44, 44, 44);
    border-bottom: 1px solid rgb(99, 99, 99);
    top: 0px;
    left: 0px;
    padding: 30px 0px;
    height: 90px;
}
.navbar{
    margin: auto;
    width: 300px;
}
.navbar h1{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.navbar p{
    color: yellow;
    text-align: right;
    width: 235px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.container-navigation{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    margin-top: 10px;
}
.navigation{
    display: block;
    font-size: 14px;
}
.navigation ul{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 0px 10px;
    
}
.navigation li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
.navigation li:hover a{
    color: yellow;
} 
section{
    line-height: 2em;
}
.text > h1{
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-bottom: 10px;
    margin-top: 10px;
}
.text > p{
    width: 70%;
    font-size: 19px;
    color: white;
}
section.sobre{
    margin: auto;
    display: flex;
    padding-top: 100px;
    padding-left: 150px;
}
.foto{
    width: 20%;
    border-radius: 50%;
    margin: auto;
    margin-right: 40px;
} 
section.habilidades{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(44, 44, 44);
}
.habilidades h1{
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    color: white;
}
.container-hab{
    width: 30%;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: auto;
}
.logo{
    border-radius: 10px;
    width: 85px;
    height: 85px;
    padding-top: 20px;
    margin: auto;
}
.logo1{
    width: 80px;
    height: 80px;
}
section.projeto{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    padding-top: 30px;
}
footer{
    background-color: rgb(44, 44, 44);
    border-top: 1px solid rgb(99, 99, 99);
    margin-top: 70px;
    color: white;
    text-align: center;
    height: 60px;
}
footer a{
    color: yellow;
    font-weight: bold;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;
}
.calc{
    height: 400px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 10px;
}
.manual-btn:hover{
    background-color: yellow;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
#radio7:checked ~ .first{
    margin-left: -150%;
}
.navigation-auto div{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.navigation-auto div:not(:last-child){
    margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: yellow;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: yellow;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: yellow;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: yellow;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: yellow;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: yellow;
}
#radio7:checked ~ .navigation-auto .auto-btn6{
    background-color: yellow;
}